beautifulsoup4==4.8.1
bs4==0.0.1
certifi==2019.9.11
cftime==1.0.3.4
chardet==3.0.4
cycler==0.10.0
dask==2.6.0
docopt==0.6.2
idna==2.8
Jinja2==2.10.3
kiwisolver==1.1.0
lxml==4.4.1
MarkupSafe==1.1.1
matplotlib==3.1.1
netCDF4==1.5.2
numpy==1.17.3
pandas==0.25.2
pycurl==7.43.0.3
Pydap==3.2.2
pyjson==1.3.0
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
scipy==1.3.1
seaborn==0.9.0
sentinel5dl==0.4
six==1.12.0
soupsieve==1.9.4
urllib3==1.25.6
WebOb==1.8.5
xarray==0.14.0
xmltodict==0.12.0
